<div class="row">
  <div class="small-12 columns">
		<div id="notice">
    	<%# render "partials/flash" %>
		</div>
  </div>
</div>

<div class="row">
  <div class="small-12 columns" id="main_content">
    <%= yield %>
  </div>
</div>
