<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
		<section class="top-bar-section">
	    <ul class="left">
				
				<li><%= link_to 'Back', home_path %></li>
				
	    </ul>
			
	  </section>
  </nav>
</div>
